@import './assets/css/jalnan2.css';
@import './assets/css/pretendardvariable.css';
@import './assets/css/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  padding: 0px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Pretendard Variable';
  background-color: #FAFBFC;
}